@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
    background-color: transparent;
    border: transparent;
}

@media screen and (max-width: 1023px) {
    .img-bloody {
        height: 100%;
    }
}

.homeParticles {
    z-index: 1;
    min-width: 98vw;
    min-height: 100vh;
    object-fit: cover;
    mix-blend-mode: screen;
    position: absolute;
}

.tweet {
    background-color: rgb(29, 155, 240);
}